<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Box</title>
</head>
<body style=
    "
    background-color: #aaf;
    "
>
    <h1>Welcome to the CookBook</h1>
    <div style=
        "
        width: 80%; 
        height: 80%;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        "
    >
    <ul>
        {% for item in foodData %}
        <li style="padding: 10px;">
            <h2><a href="recipe/">{{ item.title }}</a></h2>
            <p>{{ item.description }}</p>
            {{item.time_required}}
            <br>
            {{item.instructions}}
            
            written by
            <span style="font-style: italic; color:red">{{item.author}}</span>
        </li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>