<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Box</title>
</head>
<body>
    <h1>Welcome to the CookBook</h1>
    <div style=
        "
        width: 80%; 
        height: 80%;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-content: center;
        "
    >
    <ul>
        {% for item in foodData %}
        <li style="padding: 10px;">
            <h2><a href="/recipe/{{item.id}}/">{{ item.title }}</a></h2>
        </li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>