<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Box</title>
</head>
<body>
    <h1>Welcome to the CookBook</h1>
    <span><a href="/recipeAdd/">add Recipes here</a></span>
    <br>
    <span><a href="/authorAdd/">create new author here</a></span>
    <br>
    <span>are you authenticated? {{ request.user.is_authenticated }}</span>
    <div style=
        "
        width: 80%; 
        height: 80%;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-content: center;
        "
    >
    <ul>
        {% for item in foodData %}
        <li style="padding: 10px;">
            <h2><a href="/recipe/{{item.id}}/">{{ item.title }}</a></h2>
        </li>
        {% endfor %}
    </ul>
    </div>
    <span><a href="/login/">sign out</a></span>
</body>
</html>