<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Box</title>
</head>
<body>
    <div style=
    "
    width: 80%; 
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-content: center;
    "
>
    <div style="padding: 10px;">
        <h2><a href="/recipe/{{foodData.id}}/">{{ foodData.title }}</a></h2>
        
        {%if user.superuser or user.username == foodData.author%}
            <a href="/recipe/{{foodData.id}}/edit">Edit</a>
        {%endif%}
        <p>{{ foodData.description }}</p>
        {{foodData.time_required}}
        <br>
        {{foodData.instructions}}
        written by
        <span style="font-style: italic; color:red"><a href="/author/{{foodData.author.id}}/">{{foodData.author}}</a></span>
    </div>
</div>
<span><a href="/">Home</a></span>
</body>
</html>